@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bangers');


body {
	text-align: center;
	background: ;
  color: #fff; 
 }

#wrapper {
        width: auto;
        margin: 0 auto;
        
}

header {
        background: #1E90FF;
        text-align: center;
        border: none;
        padding: 20px;
        width: 100%;
}

h1 {
      font-family: 'Montserrat Alternates', sans-serif;
}

#logo {
       background: #1E90FF;
       border: none;
       padding: 20px;
       height: 350px;
       width: 100%;
}


main {
        background: #1E90FF;        
        height: 150px;
        border: none;
        padding: 20px;
        font-size: 25px;
	      width: 100%;
        
}

#two_column {
    background-color: #dcdcdc;
    border: none;
    padding: 20px;
    width: 100%;
}

#right {
    background-image: url("https://github.com/rorymagurran/rorymagurran.github.io/");   
    border: none;
    padding: 20px;
    float: left;
    width: 15%;
    font-size: 35px;
    font-family: 'bangers', sans-serif;
}

#left {
  
    border: none;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/*aside {
	background: #FFC675;
        height: 850x;
        font-size: 25px;
        font-family: 'Shadows Into Light', cursive;   
        border: 1px black solid;
        padding: 20px;
}

#portfolio  {
       background: #E8C66A;
       text-align: left;
       border: 1px black solid;
       padding: 20px;
}

#contact {
        background: #E8C66A;
        text-align: right;
        border: 1px black solid;
        padding: 20px;

} */
      
#profile {
      background: #fff;
      border: none;
       padding: 20px;
      height: 300px;
      
}

footer {
        background: #dcdcdcs;        
        height: 30px;
        border: none;
       padding: 20px;
        text-align: center;
	font-size: 20px;
	font-family: 'Montserrat Alternates', sans-serif;
         
}