@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Faster+One');


body {
   background: #6495ed;     
	text-align: center;
  color: #fff; 
 }

#wrapper {
        width: auto;
        margin: 0 auto;
        
}

header {
        
        background-color: #6495ed;        
        height: 100px;
        padding: 20px;
        text-align: center;
      font-size: 20px;
      font-family: 'raleway', sans-serif;
      width: 100%;

}


#front {
      background-color: #6495ED;
      padding: 1px;
      width: 100%;
      font-size: 200px;
       text-shadow: 3px 3px #888;
}



main {
       
        background: #6495ED;        
        border: solid 0 1px 1px 1px #888;
       padding: 20px;
        text-align: center;
      font-size: 20px;
      font-family: 'faster one', cursive;
      width: 100%;
      height: 850px;
        
}



#two_column {
    background: #87CEFA;
    border: none;
    padding: 20px;
    
}

#right {
    border: none;
    padding: 80px;
    float: left;
    width: 26%;
    font-size: 35px;
    font-family: 'raleway', sans-serif;
    color:  #fff;
    text-shadow: .5px .5px #888;
}

#left {
  
    border: none;
    padding: 35px;
    float: right;   
    width: 60%;
    text-shadow: 5px #000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


    
#contact {
    border: none;
    padding: 30px; 
    height: 400px;
  }

#first {
    background: #fff;
    border: none;
    padding: 15px;
    float: left;
    width: 50%;
    text-align: center;
}

#second {
    background: #fff;
    color: #888;
    border: none;
    padding: 107px;
    float: left;
    width: 37%;
    font-size: 35px;
    font-family: 'raleway', sans-serif;
    
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#navfinal {
    padding: 35px;
    font-size: 20px;
    font-family: 'raleway', sans-serif;
    color:  #fff;
    text-shadow: .5px .5px #888;
}         

footer {
        background: #6495ed;        
        height: 120px;
        border:none;
       padding: 20px;
        text-align: center;
	      width: 100%;

}